APP_NAME="KTS Markets"
APP_ENV="production"
APP_KEY="base64:fJa2LZXzttfRJJrS8SLg5Ez+agZyBnNthcMiyb3JuC0="
APP_DEBUG="true"
APP_URL="https://kts-backend.vercel.app"
ASSET_URL="https://kts-backend.vercel.app"
FRONTEND_URL="https://ktsmarket-website.vercel.app,http://localhost:3000"
FORCE_HTTPS="true"

# PostgreSQL Database
DB_CONNECTION="pgsql"
DATABASE_URL="postgres://..."

# Vercel Serverless Cache & Ephemeral Storage
VIEW_COMPILED_PATH="/tmp/views"
APP_CONFIG_CACHE="/tmp/config.php"
APP_EVENTS_CACHE="/tmp/events.php"
APP_PACKAGES_CACHE="/tmp/packages.php"
APP_ROUTES_CACHE="/tmp/routes.php"
APP_SERVICES_CACHE="/tmp/services.php"

# Sessions, Cache, Logs
SESSION_DRIVER="cookie"
SESSION_LIFETIME="120"
SESSION_ENCRYPT="false"
CACHE_STORE="array"
CACHE_PREFIX=""
FILESYSTEM_DISK="local"
QUEUE_CONNECTION="sync"
LOG_CHANNEL="stderr"
LOG_LEVEL="debug"

# Security & Sanctum
SANCTUM_STATEFUL_DOMAINS="kts-backend.vercel.app,ktsmarket-website.vercel.app,localhost"
SANCTUM_TOKEN_EXPIRATION="1440"
BCRYPT_ROUNDS="12"
GOOGLE_CLIENT_ID="294042310331-0s9dbhu0ajf4fkmkoik1gg6h27jb01fk.apps.googleusercontent.com"

# SMTP Mail
MAIL_MAILER="smtp"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT="465"
MAIL_USERNAME="ahmedbilalkhangl09@gmail.com"
MAIL_PASSWORD="pvrahwujjucsqwlo"
MAIL_ENCRYPTION="ssl"
MAIL_SCHEME="ssl"
MAIL_TIMEOUT="30"
MAIL_FROM_ADDRESS="ahmedbilalkhangl09@gmail.com"
MAIL_FROM_NAME="KTS Markets"

# Groq AI
GROQ_API_KEY=""
